exclude src/gaesynkit/app.yaml
exclude src/gaesynkit/testing.py
include CHANGES.txt
include README.txt
recursive-exclude src/gaesynkit/qunit *
recursive-exclude src/gaesynkit/tests *
recursive-include src/gaesynkit/static *
